.bloque__principal{
    margin-top: 30px;
    

}

.primera__columna{
    background-color: lightslategray;
    height: 410px;
    width: 350px;
    margin-right: 12px;
    margin-left: 12px;
    
       
}
.primera__columna img{
    width: 300px;
    height: 250px;
    border-radius: 100%;
    
}

.primera__columna--parrafo{
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.segunda__columna{
    background-color: aliceblue;
    height: 300px;
    width: 300px;
    
}
.segunda__columna--parrafo{
    color: black;
    font-size: 4vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding-top: 30px;
    

}

.tercera__columna{
    height: 300px;
    width: 300px;
   
    
}

.tercera__columna img{
    height: 300px;
    width: 300px;
   
    
}

.cuarta__columna{
    height: 300px;
    width: 150px;
    margin-right: 62px;
    margin-top: 5px;
    
 
}
.cuarta__columna img{
    width: 170px;
    height: 300px;
}

.quinta__columna{
    background-color: aliceblue;
    height: 300px;
    width: 150px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .quinta__columna--parrafo{
    color: black;
    font-size: 2vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding-top: 30px;
    font-weight: 900;
  }

  .quinta__columna--parrafo2{
      font-size: 12px;
  }

.sexta__columna{
    background-color: lightsteelblue;
    height: 405px;
    width: 612px;
    margin-top: 5px;
    position: relative;
    left: 375px;
    bottom: 410px;
 }

 .sexta__columna--parrafo{
     font-size: 40px;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     padding-top: 50px;
 }

 .sexta__columna img{
     width: 12vw;
     margin-left: 350px;
     border-radius: 50%;
     position: relative;
 }



 /* Jorge empieza aqui */

 .container5 {
    display: flex;
}

.container5__posicion-titulo {
    text-align: justify;
    width: 15vw;
    height: 15vh;
    position: absolute;
    left: 818px;
    top: 150px;
}

.container5--titulo{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
}

.container5__top {
    background-color: rgba(201, 201, 201, 0.26);
    width: 100vw;
    height: 50vh;
}

.container5__mid1 {
    background-color: white;
    width: 250px;
    height: 300px;
    position: absolute;
    left: 500px;
    top: 150px;
    padding: 1vh;
}

.container5__mid2{
    background-color: white;
    width: 250px;
    height: 300px;
    position: absolute;
    left: 800px;
    top: 280px;
    padding: 1vh;
}

.container5__mid3{
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 525px;
    top: 500px;
    padding: 1vh;
}

.mid1--imagen {
    background-image: url(./imagenes/bodas.jpg);
    background-size: cover;
    width: 100%;
    height: 50%;
}

.mid2--imagen {
    background-image: url(./imagenes/bodas2.jpg);
    background-size: cover;
    width: 100%;
    height: 50%;
}

.mid2-container5--texto {
    text-align: justify;
}


.mid3--imagen {
    background-image: url(./imagenes/bodas3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container5__bottom {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 50vh;
}



/* Giani */

.color_blanco_1{
    background-color: white;
    width: vmax;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.idem{
  
    width: 175px;
    height: 275px;
}

.idem__h2{
text-align: center;
} 

.idem__p{
    text-align: justify;
    font-family: 'Pacifico', cursive;
}

.idem img {
    border-radius: 50%;
  
}

.color_gris_1{
    background-color: rgba(218,218,218,1);
    width: vmax;
    height: 40vh;
}

.color_gris_2{
    background-color: rgba(218,218,218,1);
    width: vmax;
    height: 30vh;
    display: flex;
    justify-content: center;
  
}

.color_gris_2 img{ 
    margin: 0;
}

.comentario{
    width: 300px;
    height: 250px;
    background-color: white;
    position: absolute;
    left: 200px;
    top: 650px;
    border-color: rgba(218,218,218,1);
    border-width: 7px;
    border-style: solid;
    padding: 15px;
    padding-top: 0%;

}
.comentario__h5{
    text-align: center;
    
    
}
.comentario__h2{
    text-align: justify;
    font-family: 'Dancing Script', cursive;
}
.comentario__button{
    margin-left: 40%;
    border-radius: 15%;
    background-color:rgba(218,218,218,1) ;
}
.color_blanco_2{
    background-color: white;
    width: vmax;
    height: 20vh;
    
}











/*  adicionales  */
footer{
    display: relative;
}
.footer__black{
    background-color: black;
    height: 20vh;
}



.footer__text--texto{
    color: white;
   
}